ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  left: 0%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #ccc6c6;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#button2,#button1 {
  width: 200px;
  height: 200px;
  border-radius: 35px;
  --vertical-align: middle;
  --padding-start: -10px;
  --padding-end: -10px;
  --margin:10px;
}
.cardsFolder{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cardType{
  background-color: rgb(53, 53, 163);
  width: 150px;
  height: auto;
}
.myP{
  font-size:medium;
}
